.aboutUsContent{
	  height: 620px;
  background-color: #fff;
	
}
h2{
padding-left: 40px;	
}

.aboutus{
	  width: 780px;
  text-align: justify;
  color: rgb(58, 54, 54);
    float: left;
  padding: 30px;
	
}

.aboutus div{
	
	  float: right;
  font-size: 18px;
  font-weight: 600;
}

.imageContent{
	padding-top: 40px;
  float: right;
  padding-right: 50px;	
}

.imageContent div{
padding-bottom: 10px;	
}