	  @charset "utf-8";
	  /* CSS Document */
	  
		  
	  body{ 
		font-family: arial,tahoma,verdana,sans-serif;
		  margin: auto;
	  }
	  
	  .wrapper{	
		  background: #fff;
		  width: 1020px;
		  margin: 0 auto;
		  padding: 0;
		  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		  height: auto;	
	  }
	  
	  .top-line{
		  height:5px;
		  background-color:#169fe6;
		  display:block;
	  }
	  
	  .container{
		  margin-top: 25px;
		  height:80px;
	  }
	  
	  .logo{
		margin-left: 50px;
		float:left;
	  }
	  
	  .logoCaption{
		  font-size: larger;
		  font-style: normal;
	  }
	  
	  .line-vertical{
		   background-color: aqua;
		   width: 2px;
		   height: 80px;
		   margin-left: 40px;
		   margin-right: 20px;
		   float:left;
	  }
	  
	  .headerImage{
  float: left;
  padding-left: 20px;
		  
	  }
	  .premium{
		  padding-top: 10px;
		  color: #888;	
		  float:left;
	  }
	  
	  .socialTag{
		  height: 100px;
		  width: 200px;
		  float: right;
		  margin-right: 10px
	  }
	  
	  .facebook{
		  float:right;	
	  }
	  
	  .facebook a{
		opacity:0.5;  
	  }
	  
	  .facebook a:hover{  
		  opacity:1;
	  }
	  
	  .home a:active{
		  
		  
	  }
	  
	  .searchField{
		  margin-top: 70px;	
	  }
	  .search{
		  box-shadow: 0px 0px 0px 1px rgba(200, 200, 200, 0.65) inset, 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
		  border-radius: 5px;	
		  height: 22px;
		  font-family:"Comic Sans MS", cursive;
		  background-image:url("search.png");
		  background-repeat:no-repeat;
		  background-position:right;
		  background-color:#fff;
		  font-weight:bold;
	  }
	  
	  .navigation{
		  margin-top: 30px;
	  }
	  
	  .menu{
		  background-color: #4c4c4c;
		  height: 50px;	
	  }
	  
	  . menu ul{
		  list-style-type:none;
		  font-size: 20px;	
	  }
	  
	  .menu li{
		  display:inline;	
		  text-decoration: none;
		  float:left;
	  }
	 
	 
	  
	  /*   .menu li a:visited {
		  background-color:#fff;
		  color:black;
		  border-bottom: 3px solid #169fe6;;
		  box-sizing:border-box;
	  }
	  */
	  
	  .menu a:hover {
		  background-color:#F4EFEF;
		  color:black;
		  border-bottom: 3px solid #169fe6;;
		  box-sizing:border-box;
	  }
	   .active
	  {
		  background:white;
		  color:black;
		  border-bottom: 3px solid #169fe6;;
		  box-sizing:border-box;
	  }
	  
	   .menu a{
		  float: left;
		  padding: 13px;
		  
		  text-decoration: none;
		  font-size:18px;
	  }
	  .white
	  {
		  color: white;
	  }
	  
	.content{
		  height: auto;
		  width: auto;
	}
  
	.footer{
		  height: 210px;
		  width: auto;
		  background-color: #565353;  
	}
	.footercontent{
		  height: 200px;
  width: 600px;
    font-size: 15px;
  color: rgb(181, 171, 171);
  padding-left: 50px;
  float:left;
	}
	
	.maintitle{
	  padding: 25px 0px 10px 60px;
  	color: white;
 	 font-weight: bold;	
		
	}
	
	.address{
	padding-left: 60px;	
	}
	
	.mobile{
	padding-left: 60px;	
	}
	
	.email{
	padding-left: 60px;	
	}
	
	
	
	.clear{
		padding: 5px;
	clear:both;	
	}
	
	.rightSpace{
		  padding-top: 25px;
		
	}
	
	
	
	
	
	
	.copyright{
		  height: 50px;
		  width: auto;
		  background-color: #4c4c4c;
	}
	.copyrightTxt{
		  padding: 15px;
  		  color: rgb(181, 171, 171);
		  font-size: 14px;
		  float: left;
		
	}
	.copyrightSpam{
		color:white;
	}
	
	.footerNav{
		  padding: 15px;
  		  font-size: 13px;
  		  float: right;
  		  color: rgb(181, 171, 171);
	}
	
	.footerNav a{
		  color: rgb(181, 171, 171);
  text-decoration: none;
	}